logs
project/project
project/target
target
tmp
.history
dist
/**/*.iml
/**/*.ipr
/**/*.iws
/.classpath
/.git
/.svn
/.idea
/.project
/.settings
/.sonar-ide.properties
/atlassian-ide-plugin.xml
/.ignore
/**/overlays
/**/target/
/**/*.log
#/*/_ign_mvn_*.log
*.iml
.DS_Store
/.idea/*
/projectFilesBackup
/target
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings